{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% block title%} My Awesome Cart Tracker{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row ">
      <div class="mx-auto col-md-6">
        
        <div class="content-section p-5 drop-shadow">
            <div class="text-center col">
                
                <img 
                src="{% static 'store/images/shopping-bag-cart-with-laptop-online-shopping-delivery.jpg' %}" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
            {% if response.RESPCODE == '01' %}
            <div class="display-8 text-success">Payment Success</div>
            {% else %}
            <div class="display-8 text-danger">Payment Failure</div>
            {% endif%}
            
            
            {% if response.RESPCODE == '01' %}
            <hr>
            <p>Payment status regarding your Transactionid Id  </p>
           
            <h5 class="text-primary">{{response.ORDERID}}</h5>
            {% endif%} 
            </div>
            
            
        </div>
    </div>
</main>
{% endblock %}

